{% extends "base.html" %}
{% load i18n cms_tags %}

{% block tpl_id %}tpl_col_three{% endblock %}

{% block content %}
  <div id="col1" class="span-4">
    <div style="padding:10px">    
      {% include "sidebar_submenu.html" %}	
      {% block col_sidebar %}
        {% with "220" as width %}
          {% placeholder col_sidebar %}
        {% endwith %}
      {% endblock %}
    </div>
  </div>

  <div id="col2" class="span-16">
    <div style="padding:10px">
      {% block page_title %}<h1>{% page_attribute title %}</h1>{% endblock %}
      {% block col_left %}
        {% with "340" as width %}
          {% placeholder col_left %}
        {% endwith %}
      {% endblock %}
    </div>
  </div>
	
  <div id="col3" class="span-4 last">
    <div style="padding:10px">
      {% block col_right %}
        {% with "220" as width %}
          {% placeholder col_right %}
        {% endwith %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
