{% extends "base.html" %}
{% load i18n cms_tags %}

{% block tpl_id %}tpl_col_two{% endblock %}

{% block content %}
  <div id="col2" class="span-20">
  <div style="border-right:1px dashed #ACACAC; display: block;">
    <div style="padding:20px;">
    {% block page_title %}<h2>{% page_attribute title %}</h2>{% endblock %}
      {% block col_left %}
        {% with "640" as width %}
          {% placeholder col_left %}
        {% endwith %}
    {% endblock %}
    </div>
  </div>
  </div>
  
  <div id="col1" class="span-4 last">
    <div style="padding:2px">
      {% include "sidebar_submenu.html" %}
    </div>
    <div  style="padding:2px">
      {% block col_sidebar %}
        {% with "220" as width %}
          {% placeholder col_sidebar %}
        {% endwith %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
