{% extends 'base.html' %}
{% load i18n menu_tags cms_tags code_highlight comments %}

{% block scripts %}
<link href="{{ MEDIA_URL }}cms_content/css/cms_content_style.css" rel="stylesheet" type="text/css" />
{% endblock scripts %}

{% block content %}
<div class="span-4">
  <div id="menu_tree"><ul><li class="title">{% trans "cms menu" %}</li>{% show_menu 1 1 0 0 %}</ul></div>
</div>

<div class="span-20 last">
  <div style="padding: 10px">
  <h2>{{ article.title }}</h2>
  <h5>{% trans 'Author' %}: <a href="{% url profiles_profile_detail article.created_by %}">{{ article.created_by }}</a> | 
  Created Time: {{ article.created_date|date:"Y.m.d" }}</h5>
  
  {{ article.content|code_highlight }}

  <h3>comments:</h3>
  <p>There are {% get_comment_count for article as comment_count %}{{ comment_count }} comments</p>
  {% get_comment_list for article as comment_list %}
  {% for comment in comment_list %}
  <p>Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
  <p>Comment: {{ comment.comment }}</p>
  {% endfor %}
<!--{% render_comment_list for article %}-->
  {% render_comment_form for article %}
  </div>
</div>
{% endblock %}

{% block topbar %}
{{ block.super }}
  {% if request.user.is_staff %}
  <div id="admin-toolbar">
    {% if article %}
    <a href="{{ article.get_admin_change_url }}">{% trans "Edit" %}</a> |
    <a href="{{ article.get_admin_delete_url }}">Delete</a> |
    <a href="{{ article.get_admin_history_url }}">History</a> |
    <a href="{{ article.get_admin_add_url }}">{% trans "Add another" %} {{ article.get_verbose_name }}</a> |
    <a href="{{ article.get_admin_changelist_url }}">Manage {{ article.get_verbose_name_plural }}</a> |
    {% endif %}
  </div>
  {% endif %}
{% endblock %}


{% block panel %}
<a href="../../../add/">add article</a> | 
<a href="../../../delete/">delete article</a>
{% endblock panel %}
