{% extends 'base.html' %}
{% load i18n cms_tags code_highlight comments %}

{% block content %}



<div class="span-18">
<div style="padding:10px 15px">

  <h2>{{ article.title }}</h2>
  <h5>{% trans 'Author' %}: <a href="">{{ article.created_by }}</a> | 
  Created Time: {{ article.created_date|date:"Y.m.d" }}</h5>
  
  {{ article.content|code_highlight }}
  
  {% if request.user.is_staff %}
    <div id="admin-toolbar">
    {% if article %}
      <a href="{{ article.get_admin_change_url }}">Edit</a> |
      <a href="{{ article.get_admin_delete_url }}">Delete</a> |
      <a href="{{ article.get_admin_history_url }}">History</a> |
      <a href="{{ article.get_admin_add_url }}">Add another {{ article.get_verbose_name }}</a> |
      <a href="{{ article.get_admin_changelist_url }}">Manage {{ article.get_verbose_name_plural }}</a>
      {% endif %}
    </div>
  {% endif %}
  
  <h3>comments:</h3>
  <p>There are {% get_comment_count for article as comment_count %}{{ comment_count }} comments</p>
  {% get_comment_list for article as comment_list %}
  {% for comment in comment_list %}
  <p>Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
  <p>Comment: {{ comment.comment }}</p>
  {% endfor %}
<!--{% render_comment_list for article %}-->
  {% render_comment_form for article %}
  
</div>
</div>

<div class="span-6 last">
<div style="padding:10px 15px">
  <p>hello world!</p>
</div>
</div>
{% endblock %}
